body {
    font-family: Arial, sans-serif;
    background-color: white;
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/t1/5185637-shawarma-cozinhando-e-ingredientes-para-kebab-vetor.jpg);
    background-size: auto;
    margin: 0;
    padding: 0;
  }
  
  header {
    background:linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(190,26,26,1) 49%, rgba(34,26,190,1) 79%);
    color: white;
    padding: 3px;
    opacity: 100%;
  }

.header-box {
  position: relative;
  background: transparent;
  width: auto;
  height: 120px;
  border: 4px solid rgba( 255, 255, 255, .5);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
}

  .name {
    text-align: center;
    margin-top: 20px;
    position: relative;
    color: #ffffff;
    opacity: 100%;
  }
  
  .canva {
    position: absolute;
    top: 10;
    left: 100px;
    border-radius: 10px;
    cursor: pointer;

   
  }

  .input-box {
    text-align: center;
    margin-right: 100px;
    color: #ffffff;
    opacity: 100%;
  }
  
  a img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    margin-left: 1000px;
    transition: transform 0.3s;
  }
  
  a img:hover {
    transform: scale(1.1); 
  }
  

  .footer {
    background-color: #000000;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  #menu {
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    margin-top: 20px;
    color: #ffffff;
  }
  
  .menu-item {
    display: inline-block;
    background:linear-gradient(90deg, rgb(13, 13, 14) 17%, rgb(0, 0, 0) 49%, rgba(13,13,14,1) 79%);
    color: white;
    border: 1px solid #000000;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    border-radius: 15px;
  }
  
  
  .menu-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    opacity: 100%;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
  }

  .input-box {
    background: rgb(32, 32, 32);
    font-size: 30px;
  }


  #cartModal, #checkoutPage, #purchaseAnimation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(90deg, rgb(13, 13, 14) 17%, rgb(0, 0, 0) 49%, rgba(13,13,14,1) 79%);
    border: 5px solid #000000;
    border-radius: 20px;
    padding: 20px;
    z-index: 10;
  }
.pag {
  color: white;
}

.metodo {
  color: white;
}

.obrigado {
  color: white;
}

  .itname {
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #purchaseAnimation {
    animation: purchaseSuccess 2s;
  }
  
  @keyframes purchaseSuccess {
    0% { opacity: 0; transform: scale(0.5); }
    100% { opacity: 1; transform: scale(1); }
  }
  